.splash-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.splash-animation-container {
  height: 50vh;
}

.splash-title-container {
  font-size: 2.5rem;
  font-family: "Fira Code", monospace;
  text-decoration: none;
}
.splash-title {
  font-family: "Fira Code", monospace;
  font-weight: 700;
  padding: 0 10px;
  letter-spacing: -0.5px;
}
